html,
body {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
button,
a,
label,
input {
  color: currentColor;
  font-family: var(--font-kmr);
}

p,
li,
.cms-rich-text p,
.cms-rich-text ul li {
  font-size: var(--text-base);
  line-height: var(--tw-leading, var(--text-base--line-height));
}

h1,
h2,
h3,
h4,
h5 {
  color: currentColor;
  font-family: var(--font-kmr);
  line-height: 1.1;
  text-wrap: balance;
}

.heading-xl {
  font-size: 1.125rem;
  line-height: var(--leading-tight);
}

.heading-2xl {
  font-size: 1.25rem;
  line-height: var(--leading-tight);
}

.heading-3xl {
  font-size: 1.5rem;
  line-height: var(--leading-tight);
}

.heading-4xl {
  font-size: 1.875rem;
  line-height: var(--leading-tight);
}

.heading-5xl {
  font-size: 2.375rem;
  line-height: var(--leading-tight);
}

.heading-6xl {
  font-size: 4rem;
  line-height: var(--leading-tight);
}

button,
a {
  cursor: pointer;
  transition-property:
    color, background-color, border-color, outline-color, text-decoration-color,
    fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
  transition-timing-function: var(
    --tw-ease,
    var(--default-transition-timing-function)
  );
  transition-duration: var(--tw-duration, var(--default-transition-duration));
}

strong,
b {
  font-weight: var(--font-weight-bold);
}

picture {
  display: contents;
}

svg,
.icon {
  flex: none;
}

.cms-rich-text {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 4);
}

.cms-rich-text h1 {
  font-size: var(--text-3xl);
}

.cms-rich-text h2 {
  font-size: var(--text-3xl);
}

.cms-rich-text h3 {
  font-size: var(--text-2xl);
}

.cms-rich-text h4 {
  font-size: var(--text-xl);
}

.cms-rich-text ul {
  list-style-type: disc;
  padding-left: calc(var(--spacing) * 6);
}

.cms-rich-text ul::marker,
.cms-rich-text ul *::marker {
  list-style-position: outside;
}

.cms-rich-text li {
  display: list-item;
  margin: calc(var(--spacing) * 1) 0;
}

.cms-rich-text li::marker {
  color: currentColor;
}

.cms-rich-text a:hover {
  color: var(--color-current-hover);
}

.cms-rich-text.small p,
.cms-rich-text.small ul li {
  font-size: var(--text-sm);
  line-height: var(--tw-leading, var(--text-sm--line-height));
}

.cms-rich-text.very-small p,
.cms-rich-text.very-small ul li {
  font-size: var(--text-xs);
  line-height: var(--tw-leading, var(--text-xs--line-height));
}

@media (width >= theme(--breakpoint-md)) {
  .cms-rich-text h1 {
    font-size: var(--text-4xl);
  }

  .cms-rich-text h2 {
    font-size: var(--text-4xl);
  }

  .cms-rich-text h3 {
    font-size: var(--text-3xl);
  }

  .cms-rich-text h4 {
    font-size: var(--text-2xl);
  }
}

@media (width >= theme(--breakpoint-lg)) {
  .heading-xl {
    font-size: 1.389vw;
  }

  .heading-2xl {
    font-size: 1.667vw;
  }

  .heading-3xl {
    font-size: 2.222vw;
  }

  .heading-4xl {
    font-size: 2.917vw;
  }

  .heading-5xl {
    font-size: 4.444vw;
  }

  .heading-6xl {
    font-size: 5.278vw;
  }
}
