@import 'tailwindcss';

@theme {
  /* COLORS */
  --color-*: initial;
  --color-current: currentColor;

  --color-lime-50: #fcffe4;
  --color-lime-100: #f8ffc4;
  --color-lime-200: #efff90;
  --color-lime-300: #dfff50;
  --color-lime-400: #cfff22;
  --color-lime-plus: #c4d219;
  --color-lime-500: #aee600;
  --color-lime-600: #87b800;
  --color-lime-700: #658b00;
  --color-lime-800: #506d07;
  --color-lime-900: #445c0b;
  --color-lime-950: #223400;

  --color-midnight-50: #edf9ff;
  --color-midnight-100: #d7f0ff;
  --color-midnight-200: #b9e7ff;
  --color-midnight-300: #88daff;
  --color-midnight-400: #51c2ff;
  --color-midnight-500: #28a4ff;
  --color-midnight-600: #1187ff;
  --color-midnight-700: #0a6eeb;
  --color-midnight-800: #0f58be;
  --color-midnight-900: #134c95;
  --color-midnight-950: #091930;

  --color-green-50: #f2fbf8;
  --color-green-100: #d5f2e9;
  --color-green-200: #abe4d2;
  --color-green-300: #79cfb8;
  --color-green-400: #5dbba4;
  --color-green-500: #339982;
  --color-green-600: #277a69;
  --color-green-700: #236256;
  --color-green-800: #204f46;
  --color-green-900: #1e433c;
  --color-green-950: #0c2723;

  --color-blue-50: #f2f8fd;
  --color-blue-100: #e5f0f9;
  --color-blue-200: #c4e0f3;
  --color-blue-300: #91c7e8;
  --color-blue-400: #54a9da;
  --color-blue-500: #308fc7;
  --color-blue-600: #2072a9;
  --color-blue-700: #1b5c89;
  --color-blue-800: #1a4e72;
  --color-blue-900: #1b425f;
  --color-blue-950: #122a3f;

  --color-violet-50: #fbf6fd;
  --color-violet-100: #f6ecfb;
  --color-violet-200: #edd7f7;
  --color-violet-300: #e0b8ef;
  --color-violet-400: #ce8de5;
  --color-violet-500: #b761d4;
  --color-violet-600: #9c41b8;
  --color-violet-700: #8c37a3;
  --color-violet-800: #6c2c7c;
  --color-violet-900: #5b2867;
  --color-violet-950: #3a1042;

  --color-white: #fff;
  --color-gray-light: #d8dedf;
  --color-gray-secondary-dark: #7e8586;
  --color-black: #000;

  --color-danger: #ffd600;
  --color-error: #e90016;
  --color-success: #00ab27;

  /* COLORS - VARIABLES */
  --color-primary: var(--color-blue-400);
  --color-secondary: var(--color-gray-secondary-dark);
  --color-background: var(--color-gray-light);

  --color-accent: var(--color-black);
  --color-accent-text: var(--color-white);

  --color-on-hover: var(--color-primary);

  /* COLORS - INPUT */
  --color-input-background: var(--color-white);
  --color-input-border: var(--color-midnight-950);
  --color-input-placeholder: var(--color-gray-dark);
  --color-input-text: var(--color-black);

  /* COLORS - CURRENT */
  --color-current: currentColor;
  --color-current-hover: var(--color-on-hover);
  --color-current-primary: var(--color-primary);
  --color-current-secondary: var(--color-secondary);
  --color-current-background: var(--color-background);
  --color-current-accent: var(--color-accent);
  --color-current-accent-text: var(--color-accent-text);
  --color-current-input-background: var(--color-input-background);
  --color-current-input-border: var(--color-input-border);
  --color-current-input-placeholder: var(--color-input-placeholder);
  --color-current-input-text: var(--color-input-text);

  /* SCREEN */
  --breakpoint-xs: 375px;
  --breakpoint-sm: 440px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-1.5lg: 1152px;
  --breakpoint-xl: 1280px;
  --breakpoint-1.5xl: 1440px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;

  /* FONT */
  --font-sans: var(--font-roboto);
  --font-kmr: var(--font-kmr);

  /* ANIMATION */

  --animate-fadein: fadeIn 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards
    0.2s;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }

  /* FONT SIZE */
  --text-2.5xl: 1.625rem;
  --text-5.5xl: 3.25rem;
  --text-6.5xl: 4rem;
  --text-7.5xl: 5rem;

  /* TRANSITION */
  --default-transition-timing-function: cubic-bezier(0, 0, 0.4, 1);
  --default-transition-duration: 300ms;

  /* BOX SHADOW */
  --shadow-card:
    rgba(0, 0, 0, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  --distance-small: --spacing(10);
  --distance-medium: --spacing(16);
  --distance-large: --spacing(24);
}

@custom-variant data-disabled (&:where([data-disabled="true"] *));
@custom-variant group-active (&:merge(.group).active &);
@custom-variant control-active (.control-active &);
@custom-variant current-active (&.current-active);

.dark {
  color: var(--color-white);
  --color-primary: var(--color-blue-400);
  --color-secondary: var(--color-gray-light);
  --color-accent: var(--color-white);
  --color-accent-text: var(--color-black);
}

.light {
  color: var(--color-black);
  --color-primary: var(--color-blue-400);
  --color-secondary: var(--color-gray-dark);
  --color-accent: var(--color-black);
  --color-accent-text: var(--color-white);
}

@media (width >= theme(--breakpoint-md)) {
  @theme {
    --distance-small: --spacing(14);
    --distance-medium: --spacing(24);
    --distance-large: --spacing(32);
  }
}

@import '@futurebrand/helpers-nextjs/styles';

@import './base.css' layer(base);
@import './components.css' layer(components);
@import './utilities.css';

@import './components/hamburgers.css';
@import './components/form.css';
@import './components/swiper.css';

@source '../node_modules/@futurebrand/helpers-nextjs/dist';
